.setting {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.setting-group {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  padding: 1em;
  background-color: whitesmoke;
  border-radius: 12px;
}

label {
  font-size: 1.25rem;
}

.setting-group p, .setting-group h2, .setting-group h3 {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.reference-image {
  max-height: 10em;
  max-width: 100%;
}

#shortcuts ul li label.disabled {
  text-decoration: line-through
}

#shortcuts ul li label {
  text-decoration: none
}

.highlight {
    font-weight: bold;
}

.notice {
    border-left: 5px solid #ffab00;
    padding-left: 5px;
}

.hidden {
    display: none;
}
