* {
    font-family: sans-serif;
}

#header {
    margin-top: 16px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#header-content {
    max-width: 80rem;
    text-align: center;
}

#header p {
    margin: 0px;
}

h1 p, h1 span {
    font-size: 36px;
}

h1 p #page-url {
    font-size: 36px;
    font-family: monospace;
}

#grid {
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#grid .grid-button-item {
    margin: 20px;
    border-radius: 12px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #9b94a0;
    cursor: pointer;
    position: relative;
    height: 30vmin;
    width: 40vmin;
}

span {
    vertical-align: baseline;
    text-align: center;
    font-size: 5vh;
}

.normal-style {
    /* blank new tab page color */
    background-image: linear-gradient(#F9F9FA, #F9F9FA);
    color: black;
}

.private-style {
    /* Firefox's private browsing colour */
    background-image: linear-gradient(#25003E, #25003E);
    color: white;
}

/*
 * For the focused state, tint the background to be slightly lighter/darker
 * and increase the emphasis on the border.
 * Using linear gradients here to stack colors.
 */

.normal-style:focus {
    background-image: linear-gradient(#00000022, #00000022), linear-gradient(#F9F9FA, #F9F9FA);
    border-color: #934ec4 !important;
    outline: 2px solid #934ec4;
}

.private-style:focus {
    background-image: linear-gradient(#FFFFFF22, #FFFFFF22), linear-gradient(#25003E, #25003E);
    border-color: #934ec4 !important;
    outline: 2px solid #934ec4;
}

.button-shortcut {
    text-decoration: underline;
}

.highlight {
    font-weight: bold;
}

.notice {
    border-left: 5px solid #ffab00;
    padding-left: 5px;
}

.hidden {
    display: none;
}

.shortcut {
    position: absolute;
    top: -0.5em;
    left: -0.5em;
    border-radius: 0.6em;
    width: 1.2em;
    height: 1.2em;
    border: 2px solid #9b94a0;
}

.dark-shortcut {
    color: white;
    background-color: black;
}

.white-shortcut {
    color: black;
    background-color: white;
}

.normal-style .window-shortcut {
    color: white;
    background-color: black;
}

.private-style .window-shortcut {
    color: black;
    background-color: white;
    border-color: white;
}

footer {
    padding: 20px;
}
