#grid {
  padding: 1em;
  background-color: whitesmoke;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#grid div {
  width: 40vw;
  margin: auto;
  height: 40vh;
  max-height: 300px;
  max-width: 500px;
  border-radius: 24px;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid silver;
}

span {
  vertical-align: middle;
  text-align: center;
  font-size: 3vw;
}

#grid div:focus {
  border: 10px solid silver;
}

#normal {
  /* blank new tab page */
  background-color: #F9F9FA;
  color: black;
}

#private {
  /* Firefox's private browsing colour */
  background-color: #25003E;
  color: white;
}
