#grid {
    padding: 1em;
    background-color: whitesmoke;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#grid div {
    margin: 20px;
    border-radius: 24px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid silver;
    cursor: pointer;
    position: relative;
    height: 30vmin;
    width: 40vmin;
}

span {
    vertical-align: middle;
    text-align: center;
    font-size: 5vh;
}

#grid div:focus {
    border: 8px solid silver;
    box-shadow: 8px 8px 16px grey;
    margin: 17px;
}

#normal {
    /* blank new tab page */
    background-color: #F9F9FA;
    color: black;
}

#private {
    /* Firefox's private browsing colour */
    background-color: #25003E;
    color: white;
}

.button-description::first-letter {
    text-decoration: underline;
}

.highlight {
    font-weight: bold;
}

.notice {
    border-left: 5px solid #ffab00;
    padding-left: 5px;
}

.hidden {
    display: none;
}

.shortcut {
    position: absolute;
    top: -0.5em;
    left: -0.5em;
    border: 1px solid black;
    border-radius: 0.6em;
    width: 1.2em;
    height: 1.2em;

}

.dark-shortcut {
    color: white;
    background-color: black;
}

.white-shortcut {
    color: black;
    background-color: white;
    border-color: white;
}
